/* General asthetics */
* /*Universal selector*/{
    font-family: Arial, Helvetica, sans-serif; /*Universal font family*/
    line-height: 1.5; /*Set spacing to 1.5x*/
}

body {
    background-color: #97B3D0FF;
}

/* Variables */
:root {
    --header-colour: black;
    --header-background: #DFDCE5FF; 
}

/* Fixed position elements */
header /*Header styling, including navigation*/{
    display: flex; /*Display flex*/
    flex: 1 40px; /*Scaling for flexbox*/
    color: var(--header-background); /*set text colour*/
    position: fixed; /*Fixes position of the header to the top of the page, regardless of scrolling*/
    width: 100%; /*Sets width across the whole page*/
    height: 60px; /*Height of header*/
    background-color: rgba(0,0,0,0.5); /*Sets background colour of the header*/
    z-index: +1; /*Sets header to front*/
}

header li /*Styling for list of navigation items in header*/{
    display: inline-block; /*Organizing links in order*/
    flex-direction: row; /*Set flex items in rows*/
    padding-left: 38px; /*Add padding to left side of list items*/
    font-size: 24px; /*Set font size*/
    color: inherit; /*Inherit font colour from Header element*/
}

#name /*Name id, for name image in header*/{
    float: left; /*Keep name image on left side of header element*/
    height: 50px; /*Set maximum height of image*/
    width: auto; /*Set width to scale to height*/
    padding-top: 5px; /*Pad top to even spacing in header*/
}

header ul /*Unordered list element child from header element parent*/{
    display: flex; /*Set flex display*/
    flex-direction: row; /*Set arrangement of flex items*/
    justify-content: end; /*Set objects to stick to the right side*/
    flex: 1 1 60px; /*Flex settings*/
    width: 100%; /*Width of the flexbox spans the whole header*/
}

.remove-link-decoration /*Class selector to remove link styling*/{
    text-decoration: none; /*Remove hyperlink styling*/
    color: inherit; /*Keep colour from prevous setting*/
}

header ul li #last-nav /*last-nav id child from list item, unordered list, and header parents*/{
    padding-right: 15px; /*Added padding to the right to prevent the last nav header from appearing under a scrollbar*/
}
 
#headers /*Headers id for individual list items in ul header*/{
    position: relative; /*Set position to relative*/
}

#github-link /*Github link id, for image*/{
    float: left; /*Keep to the left of the window*/
    position:fixed; /*Fix position onto display*/
    width: 12%; /*Set width of image based on width of screen*/
    height: auto; /*Set height of image based on width of object*/
    padding-top: 5px; /*Add even spacing on top and bottom*/
    margin-top: 60px; /*Move under the header*/
    opacity: 0.3; /*Make translucent*/
}

#github-link:hover /*Github link id, adding hover effect*/{
    opacity:0.6; /*Increase opacity when hovering*/
}

/* Body styling */

h1 {
    font-size: 60px;
}

figure /*Figure element selector*/{
    text-align: center; /*Align text in figcaption element to center*/
    justify-content: center; /*Set all content to justify center*/
    flex: 1 0 100%; /*Adjust flex scaling*/
}

#code-image /*code-image id selector for code image at the top of the page*/{
    height: 600px; /*Set constant height*/
    width: 100%;
    object-fit: cover; /*Cut image, prevent resizing*/
}

.general-text /*general-text class selector*/ {
    text-align: center; /*Align text in the center*/
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
}

section /*Section element selector*/ {
    display: flex; /*Selecting flex */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.blue /*"blue" class selector*/{
    color: rgb(72, 101, 132); /*Sets text to blue, for asthetics*/
}

#portrait { 
    height: auto;
    max-width: 300px;
    margin: 15px;
    padding: 10px;
}

section p {
    max-width: 400px;
    height: auto;
    margin: 15px;
    padding: 10px;
}

/*Projects*/

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto; 
}

#first-project{
    max-width: 600px;
    height: auto;
    margin: 15px;
    padding: 10px;
    display: flex;
    /* position: flex; */
    justify-content: center;
}

.card-section {
    max-width: 300px;
    height: auto;
    margin: 15px;
    padding: 10px;
}

#cards img {
    max-width: 300px;
}

#main-display /*main display id selector for first project in list*/{
    position: relative;
    width: 60px;
    font-size: 12px;
    padding: 2px;
    background-color: #ABD1C9FF;
    margin-left: 30px;
    margin-top: -60px;
    opacity: 0.7;
    z-index: -1;
}

section a:hover #main-display /*main-display id selector changes from hovering effect on section link*/ {
    z-index: 0;
}

.image-label /*image-label class selector for subsequent projects after first*/{
    position: relative;
    width: 80px;
    font-size: 12px;
    padding: 2px;
    background-color: #ABD1C9FF;
    margin-left: 0;
    margin-top: -60px;
    opacity: 0.7;
    z-index: -1;
}

#cards a:hover .image-label /*main-display id selector changes from hovering effect on section link*/{
    z-index: 0;
}

#contacts {
    text-align: center;
}

footer {
    background-color: var(--header-background);
    display: block;
    color: var(--header-colour);   
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 40px;
    margin-top: 40px;
}

#linkedin {
    text-decoration: none;
    color: inherit;
}

/*Dynamic aspects*/
@media screen and (max-width: 820px) {

    #name {
        width: 124.2px;
        height: 25px;
    }

    .card-section a img{
        max-width: 60%;
    }

    #github-link {
        margin-top: 180px;
    }

    #first-project {
        width: 400px;
    }
    header {
        height: 180px;
    }

    header ul {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align:right;
        align-items: flex-start;
    }

    header ul {
        flex-direction: column;
    }

    section {
        flex-direction: column;
    }
}

@media screen and (max-width: 414px) {
    #first-project {
        width: 400;
    }
    header {
        padding-top: 20px;
    }
    #github-link {
        width: 100px;
        height: auto;
    }
}